# __DRIVER_CODE__ imports

import librosa

# __DRIVER_CODE__ variables

cdef int16_t *pAudioStart
cdef int16_t *pAudio

# __DRIVER_CODE__ setup

full_audio_data, fs = librosa.load(
  "{{ in_signal["args"]["audio_file"] }}", sr=22050*2
)
audio_len = full_audio_data.size
frame_len = {{ in_signal["schema"]["data"]["size"] }}
pAudioStart = <int16_t *><long>full_audio_data.__array_interface__["data"][0]
pAudio = pAudioStart

# __DRIVER_CODE__ read

  memcpy(
    inBuf,
    pAudio,
    sizeof(int16_t) * frame_len
  )
  pAudio += {{ in_signal["schema"]["data"]["size"] }}
  if pAudio - pAudioStart > audio_len:
    pAudio = pAudioStart


# __DRIVER_CODE__ exit_handler
